**/test*
**/target*

**/secrets*
**/.bloop*
**/.metals*
**/.github*
**/.vscode*
**/.idea*
**/metals.sbt
**/.dockerignore
**/.gitignore
**/*Dockerfile*
**/docker-compose.yml
**/docker-compose.yaml
**/.scalafmt.conf
**/codecov*
**/coverage*
**/saves*
**/pom.xml
**/LICENSE
**/LICENSE.txt
**/LICENSE.md
**/README
**/README.txt
**/README.md

docs*
