.metals/
.vscode
.idea
.bsp
.game/
.metals
.bloop
*.xml
!logback.xml
*.json
metals.sbt
*.db

# exlude class and binaries
project/target
**/target
project/project
**target/bg-jobs
**/target/global-logging
**/target/**/classes
**/target/**/jacoco
**/target/**/test-classes
**/target/**/test-zinc
**/target/**/update
**/target/**/zinc
**/target/**/*.jar
**/target/streams
**/target/task-temp-directory
**/target/test-reports
**/target/.history3

!gatling/target/
gatling/target/gatling-it/**simulation**
gatling/target/it-reports
gatling/target/scala-3.2.2