.metals/
.vscode
.idea
.bsp
.game/
.metals
.bloop
metals.sbt

# exlude class and binaries
project/target
project/project
target/bg-jobs
target/global-logging
target/scala-3.0.2/api/fonts
target/scala-3.0.2/api/hljs
target/scala-3.0.2/api/images
target/scala-3.0.2/api/scripts
target/scala-3.0.2/api/styles
target/scala-3.0.2/api/favicon.ico
target/scala-3.0.2/classes
target/scala-3.0.2/jacoco
target/scala-3.0.2/test-classes
target/scala-3.0.2/test-zinc
target/scala-3.0.2/update
target/scala-3.0.2/zinc
target/scala-3.0.2/*.jar
target/streams
target/task-temp-directory
target/test-reports
target/.history3